<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    <%- include('partials/headercat') %>

    <section class = "carrito">
        <h1>Caritto</h1>
    </section>


    <br>
    <br>
    <br>
    <%- include('partials/footer') %>

    

    

</body>

</html>