<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    <%- include('partials/headercat') %>

    <section class="login">

        <div class="container p-4 animation-target">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>REGISTRATE</h3>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST">
                                <div class="form-group" style="margin: 10px;">
                                    <input type="text" name="username" placeholder="Coloca tu Usuario" class="form-control" required>
                                </div>
                                <div class="form-group" style="margin: 10px;">
                                    <input type="password" name="password" placeholder="Ingresa tu password" class="form-control">
                                </div>
                                <div class="form-group" style="margin: 10px;">
                                    <input type="password" name="passwordValidacion" placeholder="Confirma tu password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-secondary">
                                        Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </section>

  
    <%- include('partials/footer') %>

</body>

</html>