<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body class = "body-register">
    <header>
    <%- include('../partials/headercat') %>
    </header>

    <section class = register>
        <i class="fas fa-user-plus"></i>

        <div class = "forms">
        <form action="" method = "POST" class = "sing-in">


            <span>Informacion de ususario</span> 
            <div class = "bloque2">
                <input type = "text" class = "user" placeholder="Nombre de ususario*">
                <input type = "email" class = "user" placeholder="Direccion de Email*">
                <input type = "email" class = "user" placeholder="Confrima la direccion de Email*">
                <input type = "password" class = "user" placeholder="Contraseña*">
                <input type = "password" class = "user" placeholder="Confrima la contraseña*">
            </div>
                



        <span>Informacion personal</span>
        <div class = "bloque1">
            <input type = "text" class = "user" placeholder="Nombre* ">
            <input type = "text" class = "user" placeholder="Apellido*">
            <h6>Fecha de nacimiento</h6>

            <input type = "date" class = "user">
            <h6>Direccion</h6>
            <input type = "text" class = "user" placeholder="ejemplo: Av. San Martin, Villa Devoto">
            <input type = "text" class = "user" placeholder="Apellido*">
        </div>
          

        <div class = "interes-usuario">
            <h6>Categorias preferidas</h6>

            <div>
                <input type="checkbox" name="interests" value="a" id="a">
                <label for="a">Mouintain Bike</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="b" id="b">
                <label for="b">Sport Bike</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="c" id="c">
                <label for="c">City Bike</label>
            </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d">
                <label for="d">E-BIKE</label>
            </div>

            <div class = "buttons"> 
                <a href = "../index">
                    <button class = "login-botton">
                        Enviar formulario
                    </button>
                    </a>

                  
             </div>

        </div>

         
     



    </form>
        </div>

   


    </section>

  <footer>
    <%- include('../partials/footer') %>
</footer>


</body>

</html>